<h1 class="title">New User</h1>
<div class="locations-formular">
<%= render "form", user: @user %>
<div>
<br>

<div class="locations-new-button">
  <div class="d-grid gap-2 col-6 mx-auto">
  <%= link_to "Back to users", users_path, class: 'btn btn-secondary' %>
</div>
</div>
