<head>
  <title>Locations - Rotationsplaner</title>
</head>
<h1 class="locations-title">Locations</h1>
<div class="locations-table">
<table class="table table-striped">
  <thead class="table-dark">
      <tr>
        <th scope="col">Direktion</th>
        <th scope="col">Strasse</th>
        <th scope="col">Postleitzahl</th>
        <th scope="col">Ort</th>
        <th scope="col">View</th>
        <th scope="col">Löschen</th>
      </tr>
    </thead>
<div id="locations">
  <% @locations.each do |location| %>
    <%= render location %>

  <% end %>
</div>

</table>
</div>
<div class="locations-new-button">
  <div class="d-grid gap-2">
<%= link_to "New location", new_location_path, class: 'btn btn-lg btn-danger'%>
</div>
  </div>
