<head>
  <title>Locations Show - Rotationsplaner</title>
</head>
<p<%= notice %></p>
<h1 class="title">Locations - Show</h1>
<div class="container-lg">
<table class="table table-striped">
  <thead class="table-dark">
      <tr>
        <th scope="col">Direktion</th>
        <th scope="col">Street</th>
        <th scope="col">Zip code</th>
        <th scope="col">Location</th>
        <th scope="col">User ID</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
<%= render @location %>
</table>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
  <%= link_to "Back to locations", locations_path, class: 'btn btn-lg btn-secondary' %>
</div>
